$banner_height: 400px;

.banner {
    height: $banner_height;
    // background-color: green;
    width: 100%;
    border-radius: 10px;
}

.banner-image {
    width: 100%;
    height: $banner_height;
}
#slideset1 {height: $banner_height; position: relative}

#slideset1 > * {visibility: hidden; position: absolute;
    top: 0; left: 0; animation: 16s autoplay1 infinite}

@keyframes autoplay1 {
0% {visibility: visible}
33.33% {visibility: hidden}
}

#slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 4s}
#slideset1 > *:nth-child(3) {animation-delay: 8s}
#slideset1 > *:nth-child(4) {animation-delay: 12s}

#slideset6 {height: 10em; position: relative}

#slideset6 > * {animation: 12s autoplay6 infinite linear;
    position: absolute; top: 0; left: 0; opacity: 0.0}

    @keyframes autoplay6 {
        0% {opacity: 0.0}
        4% {opacity: 1.0}
        33.33% {opacity: 1.0}
        37.33% {opacity: 0.0}
        100% {opacity: 0.0}
      }

      #slideset6 > *:nth-child(1) {animation-delay: 0s}
#slideset6 > *:nth-child(2) {animation-delay: 4s}
#slideset6 > *:nth-child(3) {animation-delay: 8s}

// Medium Device / Tablet 
@media (max-width: 768px) and (min-width: 577px){
    .banner , .banner-image , #slideset1 {
        height: 200px;
        width: 100%;
    }
}

// Small Device / Cellphone 
@media (max-width: 578px){
    .banner , .banner-image , #slideset1 {
        height: 200px;
        width: 100%;
    }
}