@import "./stories.css";
.banner {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

.banner-image {
  width: 100%;
  height: 400px;
}

#slideset1 {
  height: 400px;
  position: relative;
}

#slideset1 > * {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: 16s autoplay1 infinite;
          animation: 16s autoplay1 infinite;
}

@-webkit-keyframes autoplay1 {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}

@keyframes autoplay1 {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}
#slideset1 > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#slideset1 > *:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#slideset1 > *:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

#slideset1 > *:nth-child(4) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

#slideset6 {
  height: 10em;
  position: relative;
}

#slideset6 > * {
  -webkit-animation: 12s autoplay6 infinite linear;
          animation: 12s autoplay6 infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@-webkit-keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slideset6 > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#slideset6 > *:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#slideset6 > *:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@media (max-width: 768px) and (min-width: 577px) {
  .banner, .banner-image, #slideset1 {
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 578px) {
  .banner, .banner-image, #slideset1 {
    height: 200px;
    width: 100%;
  }
}
.footer {
  background-color: #FBFAE3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  font-size: 14pt;
  text-align: center;
}
ul li a {
  text-decoration: none;
}

.active {
  color: dimgray;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.categories .tags-active {
  background-color: orange !important;
  color: white !important;
}
.categories .tags {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFAE3;
  border-radius: 10px;
  color: dimgray;
  cursor: pointer;
  margin-right: 10px;
}

.navbar {
  position: fixed;
  z-index: 99999;
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid white;
  box-shadow: 0 8px 4px -4px #eee;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr auto;
  padding: 0 10px;
}
.navbar .search-bar {
  width: 100%;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.navbar .search-bar .search {
  padding: 0;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
}
.navbar .search-bar .search button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: red;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  z-index: 1;
  cursor: pointer;
}
.navbar .search-bar .search input {
  border-radius: 10px;
  background-color: #F0F0F0;
  font-weight: 400 !important;
  display: inline-block;
  width: 100%;
  height: 20px;
  padding: 20px 20px !important;
  border: none;
}
.navbar .logo-container {
  height: 100px;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .logo-container img {
  height: 80%;
  width: auto;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: darkred;
}
.navbar .menu-container {
  grid-column: 3/4;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  align-items: center;
}
.navbar .menu-container li:hover {
  cursor: pointer;
  color: dimgray;
}

.hide-icon {
  display: none;
}

.content {
  padding-top: calc(100px + 20px);
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.content .banner {
  background-color: green;
}
.content .featured-blogs {
  flex: 1;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.content .discover-blogs {
  flex: 1;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.section-title {
  font-weight: 600 !important;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.featured-items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-box {
  border-radius: 5px !important;
  background: #FFFFFF;
  border: none;
  height: 300px;
  width: 240px;
  padding: 10px;
  display: grid;
}
.item-box .item-box-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  height: 280px;
  width: 210px;
  align-self: center;
  cursor: pointer;
}
.item-box .item-box-story {
  height: 100%;
  width: 100%;
  border-radius: 5px !important;
}

#main-body {
  margin: 0px 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-bottom: 2.5rem; /* Footer height */
}

/* RESPONSIVE LAYOUT */
@media (min-width: 1500px) {
  #main-body {
    margin: 0px 12vw;
  }
  .navbar {
    padding: 0px 12vw;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  .hide-icon {
    display: block;
  }
  .navbar .menu-container {
    transition: height 0.5s ease;
    position: fixed;
    width: 100vw;
    top: calc(100px + 5px);
    background-color: white;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr;
  }
  .navbar .menu-container li {
    padding-top: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .navbar .menu-container li:hover {
    color: black;
    background: white;
  }
  .navbar .icon-container {
    grid-column: 3/4;
    display: grid;
    place-items: center;
  }
  .navbar .icon-container i {
    font-size: 30px;
  }
  .navbar .icon-container i:hover {
    cursor: pointer;
    color: white;
  }
  .navbar .menu-container.hide {
    height: 0px;
  }
  .navbar .menu-container.hide li {
    display: none;
  }
  .navbar .menu-container.show {
    height: 200px;
  }
  .navbar .menu-container.show li {
    display: grid;
    align-items: center;
  }
}
@media (max-width: 578px) {
  .hide-icon {
    display: block;
  }
  .navbar .menu-container {
    transition: height 0.5s ease;
    position: fixed;
    width: 100vw;
    top: calc(100px + 5px);
    background-color: white;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr;
  }
  .navbar .menu-container li {
    padding-top: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .navbar .menu-container li:hover {
    color: black;
    background: white;
  }
  .navbar .icon-container {
    grid-column: 3/4;
    display: grid;
    place-items: center;
  }
  .navbar .icon-container i {
    font-size: 30px;
  }
  .navbar .icon-container i:hover {
    cursor: pointer;
    color: dimgray;
  }
  .navbar .menu-container.hide {
    height: 0px;
  }
  .navbar .menu-container.hide li {
    display: none;
  }
  .navbar .menu-container.show {
    height: 200px;
  }
  .navbar .menu-container.show li {
    display: grid;
    align-items: center;
  }

  .portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.landscape-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.portrait {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.portrait img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
}/*# sourceMappingURL=index.css.map */
